<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <div class="pageBody">
      <article>
        {{partial "toc.html" .}}
        {{partial "textprocessing.html" . }}
        {{if $.Site.Data.config.enableRecentNotes}}
          {{partial "recent.html" . }}
        {{end}}
      </article>
      <div class="backlinks-container">
        {{partial "backlinks.html" .}}
      </div>
    </div>
    {{partial "footerIndex.html" .}}
</div>
</body>
</html>
